description = "default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}">
        <title>{{ this.page.title }}</title>
    </head>

    <body>
        {% partial "header" %}
        {% page %}
        <script src="{{ ['@jquery']|theme }}"></script>
        {% framework %}
        <script src="{{ 'assets/js/main.js'|theme }}"></script>
        <script src="{{ 'assets/js/articleViewer.js'|theme }}"></script>
    </body>
</html>